/* Webfont: Monomials-Regular */@font-face {
    font-family: 'Monomials';
    src: url('Monomials.eot'); /* IE9 Compat Modes */
    src: url('Monomials.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Monomials.woff') format('woff'), /* Modern Browsers */
         url('Monomials.woff2') format('woff2'), /* Modern Browsers */
         url('Monomials.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

